<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <script src=" script/app.js"> </script>

  

</head>
<body>
        <h1>{{help}}</h1>
    <p>
        This is a weather forecast appp. This is used to forecast the weather
    </p>
</body>

<footer>
    {{>footer}}
</footer>
</html>